#option_container{
    /* border: solid red; */
    font-weight: 300;
    width: 280px;
    padding: 20px;
    padding-top: 85px;
}
#search_container{
    display: flex;
}
#result{
    margin-left: 30px;
    /* border: solid palegreen; */
}

button{
    height: 30px;
    width: 100px;
    background-image: linear-gradient(to right, #1578FF, #72A1FF );
    border: none;
    border-radius: 50px;
    color: white;
}

#option_container{
    /* width: 20%; */
    height: 550px;
    padding-left: 50px;
    /* margin-right: 10%;
    margin-left: 10%;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.25); */
    background-image: url('image/user_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#main_ct{
    margin: 80px;
    margin-top: 100px;
    /* border: solid rebeccapurple; */
}

h1{
    font-weight: 700;
}

h4{
    margin: 0;
}

#result_box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    height: 150px;
    width: 1000px;
    padding: 20px;
    margin-bottom: 15px;
    font-weight: 300;
}

#result_box a{
    color: rgb(40, 91, 201);
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

#logout{
    border: solid 1px;
    background: none;
    border-color: gray;
    border-radius: 50px;
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -5px;
    color: black;
    width: fit-content;
    padding-bottom: 8px;
}

#page_num{
    display: flex;
    justify-content: center;
    width: 700px;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 3720px;
    left: 400px;
}

#page_num button{
    background: none;
    color: black;
    width: fit-content;
    margin: 0;
    
}