html {
    scroll-behavior: smooth;
}
#title{
    text-align: center;
}
#info{
    color: white;
    text-align: center;
    padding-top: 360px;
    padding-bottom: 500px;
}
h1{
    font-size: 50px;
}
#info_img{
    width: 100%;
    position: absolute;
    z-index: -1;
}
#nav{
    width: 100%;
    background-color: white;
}