#uploader{
    /* border: solid pink; */
    font-size: medium;
    padding-top: 60px;
    padding-left: 10px;
}
#main_ct{
    margin-top: 150px;
    margin-left: 100px;
    display: flex;
    flex-flow: row;
}

#file_name{
    font-weight: 700;
    font-size: 50px;
}

#download{
    height: 55px;
    width: 200px;
    background-image: linear-gradient(to right, #1578FF, #72A1FF );
    border: none;
    border-radius: 50px;
}
#download_bt{
    padding-left: 50px;
    padding-right: 50px;
    line-height: 50px;
    color: white;
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;
}

#detail_left{
    width: 60%;
}
#detail_right{
    width: 30%;
    height: 550px;
    padding-left: 50px;
    /* margin-right: 10%;
    margin-left: 10%;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.25); */
    background-image: url('image/user_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#ccl_link{
    font-weight: 300;
    color: black;
}
h4{
    margin-bottom: 0;
}
p{
    margin: 0;
}
h3{
    margin-bottom: 0;
}
#ccl_info{
    color: rgb(128, 128, 128);
    font-size: smaller;
}

#wave_img{
    position: absolute;
    width: 400px;
    left: 600px;
    top: 200px;
}