@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

#nav{
    /* border: solid green; */
}
#bottom{
    /* border: solid yellow; */
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: 100;
    text-align: center;
}
#main{
    /* border: solid pink */
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}

li {
    float: left;
    padding-left: 10px;
}

.logo{
    width: 150px;
    height: auto;
    margin-top: 5px;
}

#container{
    display: flex;
    flex-direction: row;
}

#container ul{
    margin-top: 15px;
}


.search {
    display: flex;
    flex-flow: row;
    height: 70px;
    /* border: solid red; */
    justify-content: center;
}

.search-input {
    border: 0;
    outline: 0;
    line-height: 40px;
    height: 50px;
    width: 600px;
    font-size: 21px;
}

.search-icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #536bf6 */
}

.search-icon img{
    width: 25px;
}

#signup{
    border: solid;
    border-color: gray;
    border-radius: 50px;
}