@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

#nav{
    /* border: solid green; */
    margin-top: 10px;
    width: 100%;
    position: absolute;
    top: 0;
}

#bottom{
    /* border: solid yellow; */
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: 100;
    position: absolute;
    bottom: 20px;
    width: 50%;
    left: 25%;
    text-align: center;
}
#main{
    /* border: solid pink */
}
ul {
    list-style:none;
    margin:0;
    margin-left: 50px;
    padding:0;
}

li {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 8px;
}

li a{
    color: black;
    text-decoration:none;
    font-weight: 100;
}

.logo{
    width: 200px;
    height: auto;
    margin-top: 5px;
    margin-left: 10px;
}

#container{
    display: flex;
    flex-direction: row;
}

#container ul{
    margin-top: 15px;
}


.nav_search {
    /* display: flex;
    flex-flow: row; */
    height: 70px;
    width: 35%;
    /* border: solid red; */
    /* justify-content: center; */
    margin-top: 20px;
}
.nav_search button{
    background-color: #1578FF;
    color: white;
    font-weight: 700;
    font-size: 20px;
    height: 33px;
    width: 33px;
    border: none;
    border-radius: 5px;
}

.search-input {
    border: 0;
    outline: 0;
    border: solid 1px;
    border-color: rgb(230, 230, 230);
    border-radius: 5px;
    line-height: 20px;
    height: 30px;
    width: 88%;
    font-size: 20px;
    padding-left: 10px;
}

/* .search-icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #536bf6
} */

/* .search-icon img{
    width: 25px;
} */

#signup{
    border: solid 1px;
    border-color: gray;
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0;
}