#login_box{
    /* border: solid red; */
    width: 25%;
    margin-left: 37.5%;
    margin-right: 35%;
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    padding-bottom: 50px;
}

#login_bt{
    height: 30px;
    width: 100%;
    background-image: linear-gradient(to right, #1578FF, #72A1FF );
    border: none;
    border-radius: 50px;
    color: white;
}

#login_box{
    /* margin-top: 20%; */
    display: flex;
    align-items: center;
    flex-flow: column;
}

input, select{
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    margin-bottom: 7px;
}


h1{
    text-align: center;
}

#question a{
    color: rgb(36, 124, 255);
    text-decoration: none;
}
#question a:hover{
    text-decoration: underline;
}

#question{
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}
form{
    width: 70%;
}