{% extends 'basehome.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mainapp/home.css' %}"> 
{% endblock %}

{% block content %}
    <div id="banner">
        <img class='banner_img' src="{% static 'image/banner.png' %}" alt='banner'>
    </div>
    <!-- 키워드 검색 -->
    <div class="search">
        <input type="text" class="search-input" placeholder="search...">
        <a href="#" class="search-icon">
            <img src="{% static 'image/white_search@0.5x.png' %}" alt='search icon'>
        </a>
    </div>
    <!-- 실시간검색 -->
    <div>
        녹음버튼
        종료버튼
        분석
        들어보기(추가)
        다시녹음(추가)
    </div>
    <!-- 파일검색 -->
    <div>
        파일업로드
        분석하기
    </div>
    
{% endblock %}