{% extends 'basehome.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mainapp/home.css' %}" type="text/css"> 
{% endblock %}

{% block content %}
    <div id="banner">
        <img class='banner_img' src="{% static 'mainapp/image/banner3.png' %}" alt='banner'>
    </div>
    <div id='home_container'>
        <div id='banner_text'>
            Ai Dolphin<br>
            가장 빠르고 정확한 음향 분석과 검색 Ai<br>
            이제 음향은 dolphin으로!
        </div>
        <!-- 키워드 검색 -->
        <div class="search">
            <form action="{% url 'mainapp:search' %}" method="GET">
                {% csrf_token %}
                <input type="text" class="search-input" placeholder="search..." name="kw" value="{{kw|default_if_none:''}}">
                <input type="hidden" name='licenses[]' value="{{'all'}}">
                <button type="submit" class="search-icon">
                    <img src="{% static 'image/white_search@0.5x.png' %}" alt='search icon'>
                </button>
            </form>
        </div>
        <!-- 실시간검색 -->
        <div id='live'>
            <input type=checkbox id="chk-hear-mic"><label for="chk-hear-mic">마이크 소리 듣기</label>
            <button id="record">녹음</button>
            <button id="stop">정지</button>
            <div id="sound-clips">
                <form action="{% url 'mainapp:search' %}" method="GET">
                    {% csrf_token %}
                    <input type="hidden" name='licenses[]' value="{{'all'}}">
                    <input type="hidden" name='label' id='label_input'>
                    <input type="hidden" name='audio' id='audio_input'>
                    <button type="submit" id='realtime_search' style="display: none;">
                        search페이지로 넘어가는 제출(검색?)
                    </button>
                </form>
            </div>
            <!-- 스크립트 파일(home.js)로 따로 분리 -->
        </div>
        <!-- 파일검색 -->
        <div id='file'>
            <form method="POST" action="{% url 'mainapp:search' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file" id="file_box" class="inputfile" accept="audio/*" capture="microphone" required/>
                <label for="file_box"><strong>Choose a file</strong></label>
                <input type="submit">
            </form>
        </div>
    </div>
    <script src="/static/mainapp/home.js"></script>
{% endblock %}