{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mainapp/search.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
{% endblock %}

{% block content %}
<div id='main_ct'>
    <div id='search_container'>
        <!-- 조건선택 -->
        <div>
            <div>
                <h1>Filter</h1>
            </div>
            <div id ="option_container">
                <form action="{% url 'mainapp:search' %}" method="GET" name="option">
                    {% csrf_token %}
                    <h4>Applied</h4>
                    License |
                    <!---->
                    {% if license == 'all' %}
                        all<br>
                    {% else %}
                        {%if 'author' in license%}저적자 표기안함,<br> {%else%}저작자옵션 없음,<br>{% endif %}
                        {%if 'commercial' in license%}상업적이용가능,<br> {% else %}상업적이용옵션 없음,<br>{% endif %}
                        {%if 'work' in license%}변경가능<br>{% else %}변경옵션없음<br>{% endif %}<br>
                    {% endif %}
                    Sort | {{ sort }} <br>
                    <br>
                    <div class='space_around_ct'>
                        <input type="hidden" name='kw' value="{{ kw|default_if_none:'' }}">
                        <input type="hidden" name='label' value="{{ label|default_if_none:'' }}">
                        <input type="hidden" name='audio' value="{{ audio|default_if_none:'' }}">
                        <input type="hidden" name='file_path' value="{{ file_path|default_if_none:'' }}">
                        <input type="hidden" name='mood' value="{{ mood|default_if_none:'' }}">
                        <input type="hidden" name="search_type" value="{{ search_type|default_if_none:'' }}">
                        <input type="hidden" name="similarlist" value="{{similarlist|default_if_none:''}}">
                    </div>

                    <h4>Filter By License</h4>
                    <input type="checkbox" name="license[]" value="all"id="all" {% if license == 'all' %}checked{% endif %} >
                    <label for="all">전체</label><br>
                    <input type="checkbox" name="license[]" value="author"id="author" {% if 'author' in license %}checked{% endif %}>
                    <label for="author">저작자표기안함</label><br>
                    <input type="checkbox" name="license[]" value="commercial"id="commercial" {% if 'commercial' in license %}checked{% endif %}>
                    <label for="commercial">상업적이용가능</label><br>
                    <input type="checkbox" name="license[]" value="work"id="work" {% if 'work' in license %}checked{% endif %}>
                    <label for="work">변경가능</label><br>
                    <br>
                    <h4>Sort By</h4>
                    <input type="radio" name="sort" {% if sort == 'similar' %}checked{% endif %} value="similar"id="similar">
                    <label for="similar">유사도(기본)</label>
                    <input type="radio" name="sort" {% if sort == 'download' %}checked{% endif %} value="download"id="download">
                    <label for="download">다운 많은 순</label><br>
                    <input type="radio" name="sort" {% if sort == 'like' %}checked{% endif %} value="like"id="like">
                    <label for="like">좋아요 많은 순</label><br>
                    <input type="radio" name="sort" {% if sort == 'recent' %}checked{% endif %} value="recent"id="recent">
                    <label for="recent">최신순</label>
                    <div>
                        <button id='option_bt' type="reset">
                            Reset
                        </button>
                        <!--<button id='option_bt' type="submit"{% if search_type == 'filesearch' %}disabled {% endif %}> -->
                        <button id='option_bt' type="submit">
                            Apply
                        </button>    
                    </div>                
                </form>
            </div>
        </div>
        <!-- 결과 -->
        <div id='result'>
            <div>
                <h1>Result</h1>
            </div>
            <div>
                <!-- <div>{{search_type}}, {{name_list}}, </div> -->
                <p>
                    {% if label %}
                    입력파일명 : {{audio}}<br>
                    분석결과 : {{label}}, {{mood}}<br>
                    파형 : <div id="waveform"></div><br>
                    {% else %}
                    You have searched for " {{ kw }} "<br>
                    {% endif %}
                </p>
                <!-- 음향리스트 -->
                {% for music in music_list %}
                    <div id='result_box'>
                        <h4><a href="/../subapp/{{music.pk}}">{{music.fname}}</a></h4>
                        <!-- 확인용으로 정보 다 집어넣음 나중에 생략할거 생략하기 -->
                        category : {{music.label}} | license : {{music.licenses}} <br>
                        mood : {{music.mood}} | download : {{music.downloads}} <br>
                        like : {{music.like.count}} | date : {{music.date}} <br>
                        <audio src='/media/music_sample/{{music.fname}}#t=,10' controls controlsList="nodownload">해당 브라우저는 오디오 태그를 지원하지 않습니다.</audio>
                    </div>
                {% empty %}
                    <div>
                        0 result found.
                    </div>
                {% endfor %}
            </div>
            <!--키워드 검색일 경우 페이지번호-->
            {%if search_type == "keyword"%}
            <div>
                <ul>
                     <!--1페이지 고정-->
                    <form action="{% url 'mainapp:search' %}" method="GET">
                        {%csrf_token%}
                        <input type="hidden" name='kw' value="{{ kw|default_if_none:'' }}">
                        <input type="hidden" name="search_type" value="{{ search_type|default_if_none:'' }}">
                        <input type="hidden" name="page" value=1>
                        {% if page == 1 %}
                        <li><button type="submit">"처음"</button></li>
                        {% else %}
                        <li><button type="submit">처음</button></li>
                        {% endif %}
                    </form>
                    <!--중간 앞 뒤 5개-->
                    {% for pager in page_range %}
                     <form action="{% url 'mainapp:search' %}" method="GET">
                        {%csrf_token%}
                        <input type="hidden" name='kw' value="{{ kw|default_if_none:'' }}">
                        <input type="hidden" name="search_type" value="{{ search_type|default_if_none:'' }}">
                        <input type="hidden" name="page" value="{{pager|default_if_none:1}}">
                        {% if pager == page %}
                        <li><button type="submit">"{{pager}}"</button></li>
                        {%else%}
                        <li><button type="submit">{{pager}}</button></li>
                        {%endif%}
                        </form>
                    {% endfor %}
                    
                    <!--마지막 페이지 고정-->
                    <form action="{% url 'mainapp:search' %}" method="GET">
                        {%csrf_token%}
                        <input type="hidden" name='kw' value="{{ kw|default_if_none:'' }}">
                        <input type="hidden" name="search_type" value="{{ search_type|default_if_none:'' }}">
                        <input type="hidden" name="page" value="{{totalpage|default_if_none:1}}">
                        {%if page == totalpage %}
                        <li><button type="submit">"마지막"</button></li>
                        {% else %}
                        <li><button type="submit">마지막</button></li>
                        {% endif %}
                    </form>
                </ul>
            </div>
            {%endif%}
        </div>
    </div>
</div>
<script>
    {% comment %} function readFname(){
        return String({{audio}});
    }; {% endcomment %}

    window.onload = function(){
        //var fname = readFname();
        //console.log(fname)
        var filepath = `../{{file_path}}` ; //'/media/upload_music/' + fname;
        console.log(filepath);
        var wavesurfer = WaveSurfer.create({
        // id="waveform" 인 오브젝트에 파형 생성
        // 필수 옵션
        container: '#waveform',
        // 선택 옵션들 
        waveColor: 'violet',
        progressColor: 'purple'
        });
        wavesurfer.load(filepath);
    };
</script>
{% endblock %}