{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mainapp/search.css' %}"> 
{% endblock %}

{% block content %}
    <div id='search_container'>
        <!-- 조건선택 -->
        <div id ="option_container">
            <form action="{% url 'mainapp:search' %}" method="GET" name="option">
                {% csrf_token %}
                <h3>상세조건</h3>
                저작권 :
                <!---->
                {% if license == 'all' %}
                    all<br>
                {% else %}
                    {%if 'author' in license%}저적자 표기안함, {%else%}저작자옵션 없음,{% endif %}
                    {%if 'commercial' in license%}상업적이용가능, {% else %}상업적이용옵션 없음,{% endif %}
                    {%if 'work' in license%}변경가능{% else %}변경옵션없음{% endif %}<br>
                {% endif %}
                정렬기준 : {{ sort }} <br>
                <br>
                <div class='space_around_ct'>
                    <button id='option_bt' type="reset">초기화</button>
                    <button id='option_bt' type="submit">적용</button>
                    <input type="hidden" name='kw' value="{{ kw|default_if_none:'' }}">
                </div>

                <h4>저작권</h4>
                <input type="checkbox" name="license[]" value="all"id="all" {% if license == 'all' %}checked{% endif %} >
                <label for="all">전체</label><br>
                <input type="checkbox" name="license[]" value="author"id="author" {% if 'author' in license %}checked{% endif %}>
                <label for="author">저작자표기안함</label><br>
                <input type="checkbox" name="license[]" value="commercial"id="commercial" {% if 'commercial' in license %}checked{% endif %}>
                <label for="commercial">상업적이용가능</label><br>
                <input type="checkbox" name="license[]" value="work"id="work" {% if 'work' in license %}checked{% endif %}>
                <label for="work">변경가능</label><br>
                
                <h4>정렬기준</h4>
                <input type="radio" name="sort" {% if sort == 'similar' %}checked{% endif %} value="similar"id="similar">
                <label for="similar">유사도(기본)</label>
                <input type="radio" name="sort" {% if sort == 'download' %}checked{% endif %} value="download"id="download">
                <label for="download">다운 많은 순</label><br>
                <input type="radio" name="sort" {% if sort == 'like' %}checked{% endif %} value="like"id="like">
                <label for="like">좋아요 많은 순</label><br>
                <input type="radio" name="sort" {% if sort == 'recent' %}checked{% endif %} value="recent"id="recent">
                <label for="recent">최신순</label>
            </form>
        </div>
        <!-- 결과 -->
        <div id='result'>
            <h3>show result </h3>
            You have searched for : {{ kw }} <br>
            {% for music in music_list %}
                <div>
                    <h4><a href="{{music.pk}}">{{music.fname}}</a></h4>
                    <!-- 확인용으로 정보 다 집어넣음 나중에 생략할거 생략하기 -->
                    category : {{music.label}} | license : {{music.licenses}} <br>
                    like : {{music.like.count}} | download : {{music.downloads}} <br>
                    date : {{music.date}} <br>
                    user : {{music.user}} <br>
                    <audio src='/music_sample/{{music.fname}}' controls>해당 브라우저는 오디오태그를 지원하지 않습니다.</audio>
                    <!-- C:\Users\26162\TeamProject\Aloha\Ai_Dolphin\ai-dolphin\web\dolphinProject\music_sample -->
                </div>
            {% empty %}
                <div>
                    0 result found.
                </div>
            {% endfor %}
            <!-- <div>
                <h4>file name</h4>
                <audio src='music/00c9e799.wav' controls></audio>
            </div> -->
        </div>
    </div>
{% endblock %}