{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ai dolphin - 세상의 모든 음향</title>
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
    {% block style %}
    <!-- 각 html 파일별 추가 파일 들어가는 부분 -->
    {% endblock %}
</head>
<body>
    <div id='nav'>
        <div id='container'>
            <a href="{% url 'mainapp:home' %}">
                <img class='logo' src="{% static 'image/logo_text.png' %}" alt='ai dolphin logo'>
            </a>
            <div class="search">
                <form action="{% url 'mainapp:search' %}" method="GET">
                    {% csrf_token %}
                    <input type="text" class="search-input" placeholder="search..." name="kw">
                    <button type="submit" class="search-icon">
                        <img src="{% static 'image/white_search@0.5x.png' %}" alt='search icon'>
                    </button>
                </form>
            </div>
            <ul>
                <li><a href="{% url 'mainapp:home' %}">ai-dolphin</a></li>
                <li><a href="{% url 'subapp:about' %}">About Us</a></li>
                
                {% if user.is_authenticated %}
                <!-- 로그인 한 사용자 -->
                    <li>My Page</li>
                    <li>
                        <form action="{% url 'accountapp:logout' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="path" value="{{request.path}}">
                            <button type = submit>Log-Out</button>
                        </form>
                    </li>
                    <li><a href="{% url 'mainapp:upload' %}">Upload</a></li>
                {% else %}
                    <!-- 로그인하지 않은 사용자 -->
                     <li><a href="{% url 'accountapp:login' %}">Log-In</a></li>
                    <!--<li><a href="{% url 'accountapp:login' %}?next={{ request.path }}">Log-In</a></li>-->
                    <li><a href="{% url 'accountapp:sign_up' %}">Sign-Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% block content %}
    <!-- 여기에 각 html별 body내용 들어가는 부분 -->
    {% endblock %}
    <div id='bottom'>
        Made with aloha dolphin in South Korea © 2020 ai dolphin. All rights reserved.
    </div>
</body>
</html>