{% extends 'base.html' %}
{% load static %}

{% block style %}
    <!-- 추가할내용이 있을경우(없으면 빈칸) -->
    <link rel="stylesheet" href="{% static 'subapp/about.css' %}"> 
{% endblock %}

{% block content %}
    <h1>about ai dolphin</h1>
    <br>
    <br>
    <h1>ai dolphin</h1>
    <h3>이제 ai dolphin으로 필요한 음향을 쉽게 찾거나, 제작한 음향을 소비자에게 공급하세요!<h3>
    <br>
    <br>
    <h1>ai dolphin search</h1>
    <h3>원하는 데이터를 쉽고 빠르게 녹음, 업로드 하여 검색!<h3>
    <br>
    <br>
    <h1>저작권 기반 필터링</h1>
    <h3>사용 목적에 맞는 라이센스의 음향을 편리하게 사용하세요!<h3>
    <br>
    <br>
    <h1>ai dolphin 추천서비스</h1>
    <h3>AI classification, similarity 모델을 통한 유사 음향 추천<h3>
    <br>
    <br>
    <h1>ai dolphin 회원 서비스</h1>
    <h3>즐겨찾는 업로더, 음향 등을 관리하세요! 혹은 나의 페이지에 음향을 올리고 관리하세요<h3>
{% endblock %}
