{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'subapp/detail.css' %}" type='text/css'> 
{% endblock %}

<!-- body 부분에 들어갈 내용 -->
{% block content %}
    <div id='main_ct'>
        <div id='detail_left'>
            <div>
            {% if messages %}
                {% for message in messages %}
                <!--잘못된 수정 접근시 에러알림 거의 나올일이 없을 것 같다.-->
                {{message.tags}} : {{message.message}}
                {% endfor %}
            {% endif %}
            </div>
            <div id='file_name'>{{music.fname}}</div>
            <audio src='../../../media/music_sample/{{music.fname}}#t=,10' controls controlsList="nodownload">해당 브라우저는 오디오태그를 지원하지 않습니다.</audio>
            <form id='download' action="{% url 'subapp:downloads' %}" method="POST" id='downloads'>
                {% csrf_token %}
                <!--script는 맨 아래로 이동-->
                <a id='download_bt' href="../../../media/music_sample/{{music.fname}}" download onclick="return showConfirm();">Download</a>
                <!--<a href="../../../media/music_sample/{{music.fname}}" download onclick="document.getElementById('downloads').submit();">다운로드</a>-->
                <input type="hidden" name="music_id" value={{music.pk}}>
            </form>
            <br>
            <div>
                <img id='wave_img' src="../../../media/wave_image/{{music.fname}}.png" alt="파형이미지">
            </div>
            <!--music info-->
            <div>
                fname: {{music.fname}} <br>
                author:{% if music.author %}{{music.real_author}}{% else %}unknown{% endif %} <br> <!--마이페이지(업로더페이지)링크 달기-->
                label: {{music.label}} <br>
                mood : {{music.mood}}<br>
                licenses: {{music.licenses}} <br>
                date: {{music.date}} <br>
                {% if user.is_authenticated %} 
                <!--사용자가 로그인한 상태에서만 좋아요 버튼이 보인다-->
                    {% if request.user in music.like.all %}
                        <a href="{% url 'subapp:like' music.pk %}">
                        {% csrf_token %}
                        <!--버튼 이름은 좋아요 그대로인데 색깔로 바뀌면 좋겠다ㅎㅎ-->
                            <button type="button">(좋아요)취소</button>  &nbsp;
                        </a>
                    {% else %}
                        <a href="{% url 'subapp:like' music.pk %}">
                        {% csrf_token %}
                            <button type="button">좋아요</button>  &nbsp;
                        </a>
                    {% endif %}
                {% else %}
                    좋아요: 
                {% endif %}
                {{ music.like.count }} 명이 좋아합니다. <br>
                즐겨찾기 <br>
                다운로드 downloads: {{music.downloads}} <br>
                공유하기
                <!-- SNS share buttons --> 

            </div>
            <!--라이센스 설명부분 위치 재조정하기--><br>
            <div>
                <div>
                    {% if music.licenses == "Attribution" %}
                        <h3>Attribution (저작자표시 : CC BY)</h3>
                        <span>저작자의 이름, 저작물의 제목, 출처 등 저작자에 관한 표시를 해주어야 합니다.</span><br>
                        <img src="http://www.cckorea.org/images/ccl/lic_by_g.gif" alt="아이콘(CC BY)">
                    {% elif music.licenses == "Attribution Noncommercial" %}
                        <h3>Attribution Noncommercial (저작자표시-비영리 : CC BY-NC)</h3>
                        <span>저작자를 밝히면 자유로운 이용이 가능하지만 영리목적으로 이용할 수 없습니다.</span><br>
                        <img src="http://www.cckorea.org/images/ccl/lic_by_nc_g.gif" alt="아이콘(CC BY-NC)">
                    {% elif music.licenses == "Attribution Derivative Works" %}
                        <h3>Attribution Derivative Works (저작자표시-변경금지 : CC BY-ND)</h3>
                        <span>저작자를 밝히면 자유로운 이용이 가능하지만, 변경 없이 그대로 이용해야 합니다.</span><br>
                        <img src="http://www.cckorea.org/images/ccl/lic_by_nd_g.gif" alt="아이콘(CC BY-ND)">
                    {% elif music.licenses == "Attribution Share-alike" %}
                        <h3>Attribution Share-alike (저작자표시-동일조건변경허락 : CC BY-SA)</h3>
                        <span>저작자를 밝히면 자유로운 이용이 가능하고 저작물의 변경도 가능하지만, 2차적 저작물에는 원 저작물에 적용된 것과 동일한 라이선스를 적용해야 합니다.</span><br>
                        <img src="http://www.cckorea.org/images/ccl/lic_by_sa_g.gif" alt="아이콘(CC BY-SA)">
                    {% elif music.licenses == "ttribution Noncommercial Share-alike" %}
                        <h3>Attribution Noncommercial Share-alike (저작자표시-비영리-동일조건변경허락 : CC BY-NC-SA)</h3>
                        <span>저작자를 밝히면 이용이 가능하며 저작물의 변경도 가능하지만, 영리목적으로 이용할 수 없고 2차적 저작물에는 원 저작물과 동일한 라이선스를 적용해야 합니다.</span><br>
                        <img src="http://www.cckorea.org/images/ccl/lic_by_nc_sa_g.gif" alt="아이콘(CC BY-NC-SA)">
                    {% elif music.licenses == "Attribution Noncommercial Derivative Works" %}
                        <h3>Attribution Noncommercial Derivative Works (저작자표시-비영리-변경금지 : CC BY-NC-ND)</h3>
                        <span>저작자를 밝히면 자유로운 이용이 가능하지만, 영리목적으로 이용할 수 없고 변경 없이 그대로 이용해야 합니다.</span><br>
                        <img src="http://www.cckorea.org/images/ccl/lic_by_nc_nd_g.gif" alt="아이콘(CC BY-NC-ND)">
                    {% elif music.licenses == "Creative Commons 0" %}
                        <h3>Creative Commons 0 (저작권없음 : CC0)</h3>
                        <span>영리적인 목적을 포함한 어떤 목적으로든 그리고 어떤 방법으로든 그 저작물을 사용할 수 있습니다.</span><br>
                        <img src="//upload.wikimedia.org/wikipedia/commons/thumb/6/69/CC0_button.svg/88px-CC0_button.svg.png" alt="아이콘(CC0)">
                    {% else %}
                        error
                    {% endif %}
                </div>
                <div id='ccl_info'>
                <h4>CCL (Creative Commonss License)<a id='ccl_link' href="http://ccl.cckorea.org/about/"> 설명 바로가기</a></h4>
                <p>CCL은 자신의 창작물에 대하여 일정한 조건 하에 다른 사람이 자유로운 이용을 허락하는 내용의 자유이용 라이선스(License)입니다.</p>
                </div>
                <div style="width: 100%; text-align: center;"> 
                    <!-- Facebook share button --> 
                    <a href="" onclick="window.open(url_combine_fb, '', 'scrollbars=no, width=600, height=600'); return false;">
                    <img src="https://imgur.com/2pxqHxt.png" title="페이스북으로 공유하기" class="sharebtn_custom" style="width: 48px;"></a> 
                    <!-- Twitter share button --> 
                    <a href="" onclick="window.open(url_combine_tw, '', 'scrollbars=no, width=600, height=600'); return false;">
                    <img src="https://imgur.com/z7V4qga.png" title="트위터로 공유하기" class="sharebtn_custom" style="width: 48px;"></a> 
                    <!-- Naver share button --> 
                    <a href="" onclick="window.open(url_combine_naver, '', 'scrollbars=no, width=600, height=600'); return false;">
                    <img src="https://imgur.com/AYqtESo.png" title="네이버로 공유하기" class="sharebtn_custom" style="width: 48px;"></a> 
                    <!-- Kakao story share button --> 
                    <a href="" onclick="window.open(url_combine_ks, '', 'scrollbars=no, width=600, height=600'); return false;">
                    <img src="https://imgur.com/mIW39pd.jpg" title="카카오스토리로 공유하기" class="sharebtn_custom" style="width: 48px;"></a>
                </div>
            </div>
        </div> <!--container end-->
        <div id='detail_right'>
            {% comment %} <img src="{% static 'subapp/image/user_bg.svg' %}"> {% endcomment %}
            <div id='uploader'>
                <h2>Uploader</h2>
                <!--<img src="{% static 'image/userprofile.png' %}">-->
                <!--업로더 이미지-->
                {% if user.profile.image %}
                <img src="{{ MEDIA_URL }}{{ user.profile.image.url }}" alt="{{ user.username }}" style="width:200px; margin-left:25px;">
                {% else %}
                <img src="{% static 'default.png' %}" alt="{{ user.username }}">
                {% endif %}
                <h2>{% if music.author %}<a href="/subapp/profile/{{music.author}}">{{music.author}}</a>{% else %}unknown{% endif %} </h2>
                <!--업로더 소개글-->
                {% if user.profile.about_me %}
                <p class="card-text">소개글: {{ user.profile.about_me }}</p>
                {% else %}
                <p>소개글: 소개글을 작성해주세요</p>
                {% endif %}
                Member joined: {{user.date_joined | date:'Y.m.d'}}
            </div>
        </div>
    </div>
    <div id='main_ct'>
        <div>
            <a href="javascript:history.back()">목록(뒤로가기)</a>

            <!-- 댓글 입력창 -->
            <h3>댓글 입력</h3>
            {% if user.is_authenticated %}
            <form action="{% url 'subapp:comments_new' music.pk%}" method="POST">
                {% csrf_token %}
                {{ comment_form }}
                <input type ="submit" value="댓글작성">
            </form>
            {% else %}
                로그인 후 댓글 작성이 가능합니다.
            {% endif %}

            <!-- 댓글 목록 -->
            <h3>댓글 목록 ({{ comments|length }})</h3>

            <!-- +length, .count 갯수 구하기-->
            <table >
                <tr>
                    <th>작성자</th>
                    <th>댓글</th>
                    <th>날짜</th>
                    <th></th>
                </tr>
                {% for comment in comments %}
                <tr>
                    <td>{% if comment.author %}{{ comment.author }}{% else %}알수없음{% endif %}</td>
                    <td>{{ comment.text }}</td>
                    <td>{{ comment.date }}</td>
                    <td>
                        {% if user.is_authenticated and comment.author.pk == request.user.pk %}
                        <a href="{% url 'subapp:comments_edit' music.pk comment.pk %}">Edit</a>
                        <form action="{% url 'subapp:comments_delete' music.pk comment.pk %}" method = "POST">
                            {% csrf_token %}
                            <input type="submit" value="Delete!" onclick="return confirm('댓글을 삭제하시겠습니까?');">
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    작성된 댓글이 없습니다 :(
                </tr>
                {% endfor %}
            </table>
            <br>
        </div>
        <!-- SNS share websites --> 
        <script type="text/javascript" async> 
            var url_default_ks = "https://story.kakao.com/share?url=";
            var url_default_fb = "https://www.facebook.com/sharer/sharer.php?u=";
            var url_default_tw_txt = "https://twitter.com/intent/tweet?text="; 
            var url_default_tw_url = "&url="; 
            var url_default_naver = "http://share.naver.com/web/shareView.nhn?url="; 
            var title_default_naver = "&title="; 
            var url_this_page = location.href; 
            var title_this_page = document.title; 
            var url_combine_ks = url_default_ks + url_this_page; 
            var url_combine_fb = url_default_fb + url_this_page; 
            var url_combine_tw = url_default_tw_txt + document.title + url_default_tw_url + url_this_page; 
            var url_combine_naver = url_default_naver + encodeURI(url_this_page) + title_default_naver + encodeURI(title_this_page); 


            function showConfirm() {
                    if (confirm("저작물 이용에 관한 사항을 확인하셨습니까?(동의/반대)"))
                    {                                                                              
                        alert("파일을 다운로드 합니다.");
                        document.getElementById('downloads').submit();

                        return true;
                    } else {
                        alert("다운로드 하려면 확인 사항을 읽고 확인 버튼을 누르세요.");
                        return false;
                    }
                }
        </script>
    </div>
{% endblock %}