{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'subapp/detail.css' %}"> 
{% endblock %}

<!-- body 부분에 들어갈 내용 -->
{% block content %}
     <h1>{{music.fname}}<h1>
     <audio src='/music_sample/{{music.fname}}' controls>해당 브라우저는 오디오태그를 지원하지 않습니다.</audio>
    <div id='container'>
        <div>
            sound wave img 
        </div>
        <div id='uploader'>
            uploader information<br>
            <!--<img src="{% static 'image/userprofile.png' %}">-->
            uploader name : {{music.user}}<br>
        </div>
        <div id='uploader'>
                fname: {{music.fname}} <br>
                author:{% if music.author %}<a href="">{{music.author}}</a>{% else %}unknouwn{% endif %} <br> <!--마이페이지(업로더페이지)링크 달기-->
                label: {{music.label}} <br>
                licenses: {{music.licenses}} <br>
                date: {{music.date}} <br>
                    {% if request.user in music.like.all %}
                        <a href="{% url 'subapp:like' music.pk %}">
                        {% csrf_token %}
                            <button type="button">취소</button>  &nbsp;
                        </a>
                    {% else %}
                        <a href="{% url 'subapp:like' music.pk %}">
                        {% csrf_token %}
                            <button type="button">좋아요</button>  &nbsp;
                        </a>
                    {% endif %}

                좋아요: {{ music.like.count }} 명이 좋아합니다. <br>
                즐겨찾기 <br>
                다운로드 downloads: {{music.downloads}} <br>
                <button type='button'>공유하기</button> <br>

                <!-- SNS share buttons --> 
                <div style="width: 100%; text-align: center; margin-bottom: 64px;"> 
                <!-- Facebook share button --> 
                <a href="" onclick="window.open(url_combine_fb, '', 'scrollbars=no, width=600, height=600'); return false;">
                <img src="https://imgur.com/2pxqHxt.png" title="페이스북으로 공유하기" class="sharebtn_custom" style="width: 48px;"></a> 
                <!-- Twitter share button --> 
                <a href="" onclick="window.open(url_combine_tw, '', 'scrollbars=no, width=600, height=600'); return false;">
                <img src="https://imgur.com/z7V4qga.png" title="트위터로 공유하기" class="sharebtn_custom" style="width: 48px;"></a> 
                <!-- Naver share button --> 
                <a href="" onclick="window.open(url_combine_naver, '', 'scrollbars=no, width=600, height=600'); return false;">
                <img src="https://imgur.com/AYqtESo.png" title="네이버로 공유하기" class="sharebtn_custom" style="width: 48px;"></a> 
                <!-- Kakao story share button --> 
                <a href="" onclick="window.open(url_combine_ks, '', 'scrollbars=no, width=600, height=600'); return false;">
                <img src="https://imgur.com/mIW39pd.jpg" title="카카오스토리로 공유하기" class="sharebtn_custom" style="width: 48px;"></a>
                </div>


            </ul>
        </div>
    </div>
    <a href="/search/">목록</a>

<!-- 댓글 입력창 -->
<h3>댓글 입력</h3>
<form action="{% url 'subapp:comments_new' music.pk%}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type ="submit" value="댓글작성">
</form>

<!-- 댓글 목록 -->
<h3>댓글 목록 ({{ comments|length }})</h3>

<!-- +length, .count 갯수 구하기-->
<table >
    {% for comment in comments %}
    <tr>
        <th>작성자</th>
        <th>댓글</th>
        <th>날짜</th>
        <th>.</th>
    </tr>
    <tr>
        <td>{{ comment.author }}</td>
        <td>{{ comment.text }}</td>
        <td>{{ comment.date }}</td>
        <td>
            <a href="{% url 'subapp:comments_edit' music.pk comment.pk %}">Edit</a>
            <form action="{% url 'subapp:comments_delete' music.pk comment.pk %}" method = "POST">
                {% csrf_token %}
                <input type="submit" value="Delete!">
            </form>
        </td>
    </tr>
    {% empty %}
    <tr>
        작성된 댓글이 없습니다 :(
    </tr>
    {% endfor %}
</table>
<br>



<!-- SNS share websites --> 
<script type="text/javascript" async> 
var url_default_ks = "https://story.kakao.com/share?url=";
var url_default_fb = "https://www.facebook.com/sharer/sharer.php?u=";
var url_default_tw_txt = "https://twitter.com/intent/tweet?text="; 
var url_default_tw_url = "&url="; 
var url_default_naver = "http://share.naver.com/web/shareView.nhn?url="; 
var title_default_naver = "&title="; 
var url_this_page = location.href; 
var title_this_page = document.title; 
var url_combine_ks = url_default_ks + url_this_page; 
var url_combine_fb = url_default_fb + url_this_page; 
var url_combine_tw = url_default_tw_txt + document.title + url_default_tw_url + url_this_page; 
var url_combine_naver = url_default_naver + encodeURI(url_this_page) + title_default_naver + encodeURI(title_this_page); 
</script>
{% endblock %}
