{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'subapp/detail.css' %}"> 
{% endblock %}

<!-- body 부분에 들어갈 내용 -->
{% block content %}
     <h1>file name<h1>
    <div id='container'>
        <div>
            sound wave img
        </div>
        <div id='uploader'>
            uploader information<br>
            <img src="{% static 'image/userprofile.png' %}">
            uploader name<br>
            좋아요:{{like}}
            즐겨찾기:{{star}}
            <button type='button'>공유하기</button>
        </div>
    </div>
{% endblock %}
